<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hiwhu.hiwhuclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hiwhuUI.Activity.com_registActivity" />
        <activity android:name="com.hiwhuUI.Activity.stu_registActivity" />
        <activity android:name="com.hiwhuUI.Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hiwhuUI.Activity.com_ViewActivity" />
        <activity android:name="com.hiwhuUI.Activity.com_updateActivity"/>
        <activity android:name="com.hiwhuUI.Activity.LoginActivity" />
        <activity android:name="com.hiwhuUI.Activity.LocationActivity" />
        <activity android:name="com.hiwhuUI.Activity.SearchActivity" />
        <activity android:name="com.hiwhuUI.Activity.AddActivity" />
    </application>

</manifest>